.App {
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: #282c34;
  color: white;
}

.App-header {
  height: 32px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.App-link {
  color: #09d3ac;
}